<h1>Listing tweets</h1>
<% @tweets.each do |tweet| %>
<div class="row tweet">
  <div class="col-md-1">
    <%= image_tag(tweet.user.profile_image_url, :class => "img-thumbnail") %>
  </div>
  <div class="col-md-11">
    <div class="row">
      <h4><%= tweet.user.name %> <small><%= tweet.user.screen_name %> </small></h4>
    </div>
    <div class="row">
      <%= tweet.text%>
    </div>
  </div>
</div>
<div class="row">
  <hr>
</div>
<% end %>